# Logs
logs
*.log

# Dependency directories
node_modules/
jspm_packages/

# Snowpack dependency directory (https://snowpack.dev/)
web_modules/


# dotenv environment variable files
.env
.env.*
!.env.example

# Stores Visual Studio Code versions used for testing Visual Studio Code extensions
.vscode-test

build/
dist/